ul {
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #eeff00;
    border-radius:10px;
}
ul:hover{
    transform: scale(1.0);  
    box-shadow: 0px 10px 20px #eeff00;
}

.logo{
    height: 100px;
}

.opcoes{   
    font-size: 30px;
}

.opcoes:hover {
    transform: scale(1.2);
}

.carrocel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: none;
    position: relative;
}

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


h2{
   color: #eeff00;
}

h3{
    color: #eeff00;
}

h4{
    color: #eeff00;
}

a{
    color: #eeff00;
}

body {
    font-family:Poppins;
    background: url(Imagens//fundo.jpeg)
}

.card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    
}

.card1 {
    background-color: #630063;
    border-radius: 10px;
    border-color: #000;
    padding: 50px;
    margin: 1px;
    width: 30%; 
    text-align: center;
    color: #eeff00;
}

.card1:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px #eeff00;
}

.titulos{    
    margin-top: 50px;
    width: 100%;
    height: 100;
    border: 1px solid #eeff00;
    border-radius:10px;
}

.titulo{
    color: #eeff00;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.subtitulo{
    color: #eeff00;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    
    
}

.card2 {
    background-color: #630063;
    border-radius: 10px;
    border-color: #000;
    padding: 50px;
    margin: 1px;
    width: 30%; 
    text-align: center;
    color: #eeff00;
}

.card2:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px #eeff00;
}


.card2 li {
    list-style-type: disc;
}


.grid-rodape{
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: #eeff00;
    border: 1px solid #eeff00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}


.row1 {
    margin-left: 20px;
    
}

.row2 {
    margin-left: 20px;
}

.comentario {
    margin-left: 20px;
}

.rede{
    margin-left: 20px;
    margin-right: 20px;
}


#texto{
    width: 500px;
    height: 120px;
    
}

.nome{
    width: 350px;
}


